<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>DeadBurb</title>
<style type="text/css">
body {
     margin: 0;
     background: url('background.jpg');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}



</style>
</head>

<body>
<h1>DEADBURB</h1>





<hr>
</body> </html>
